APP_VERSION=dev

MYSQL_DATABASE=life_assistant
MYSQL_ROOT_PASSWORD=123456
MYSQL_PORT=3306

REDIS_HOST_PORT=6379
REDIS_DATABASE=0

BACKEND_PORT=8081
FRONTEND_PORT=5173

JWT_SECRET=LifeAssistant2025SecretKeyForJWTTokenGenerationMustBe256BitsLong
APP_BOOTSTRAP_ADMIN_ENABLED=true
